<h1> Handling HL7 </h1>


<div class="row">
  <div class="col-md-3">
    <%= form_for(:demo, :url => {:action => 'parse'}) do |f| %>
      <%= f.label('HL7 string') %>
      <%= f.text_area(:text, size: "90x10", placeholder: @hl7string.nil? ? 'INCOMING HL7 STRING' : session[:hl7string], value: session[:hl7string]) %>
      <%= submit_tag("PARSE", class: "btn") %>
    <% end %>
  </div>
</div>

<br>

<div class="saveOuter">
  <div class="row">
    <div class="col-md-6">
      <div class="output">
        <% unless @summary.nil? || @summary.patient_name.nil? %>
          <p><b>Name:</b> <%= @summary.patient_name  %></p>
          <p><b>Service:</b> <%= @summary.service_id  %></p>
        <% else %>
          <p><b>Error:</b> Malformed HL7 String</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= form_for(:demo, :url => {:action => 'save'}, remote: true) do |f| %>

        <%= f.label('Title') %>
        <%= f.text_field(:title) %>
        <%= f.label('Notes') %>
        <%= f.text_field(:notes) %>
        <%= f.text_area(:hl7string, size: "90x10", value: session[:hl7string]) %>
        <%= submit_tag("SAVE", class: "btn") %>
      <% end %>
    </div>
  </div>

  <% if flash[:success] %>
    <p>Saved!</p>
  <% end %>
</div>

<div class="row">
  <div class="records">
    <div class="row">
      <% if @last_ten_titles %>
        <% @last_ten_titles.each do |title| %>
          <div class="recordThumbnail col-md-2">
            <span><%= title %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



<h5> samples </h5>
<pre>
MSH|^~\&|SOURCE|383018129|PRIORITY HEALTH|382715520|2007100914484648||ORU^R01|0129938170710091448|P|2.3| 
PID|1|1034157|012993817||REICH^JOE||19520101|M|||1234 MAIN^^DEARBORN HEIGHT^MI^48127|||||||| 
PID|1||94000000000^^^Priority Health||LASTNAME^FIRSTNAME||19400101|F| PD1|1|||1234567890^DOCLAST^DOCFIRST^M^^^^^NPI| 
OBR|1|||80061^LIPID PROFILE^CPT-4||20070911|||||||||| 
OBX|1|NM|13457-7^LDL (CALCULATED)^LOINC|49.000|MG/DL| 0.000 - 100.000|N|||F| 
OBX|2|NM|2093-3^CHOLESTEROL^LOINC|138.000|MG/DL|100.000 - 200.000|N|||F| 
OBX|3|NM|2086-7^HDL^LOINC|24.000|MG/DL|45.000 - 150.000|L|||F| 
OBX|4|NM|2571-8^TRIGLYCERIDES^LOINC|324.000|MG/DL| 0.000 - 150.000|H|||F| - See more at: http://www.priorityhealth.com/provider/manual/office-mgmt/data-exchange/hl7/hl7-samples#sthash.tveGaJPg.dpuf
</pre>

<h5> notes </h5>
<a href="http://www.priorityhealth.com/provider/manual/office-mgmt/data-exchange/hl7/hl7-samples">more sample hl7 strings</a>
